@import '../../../../styles/common.scss';

.visible-filter-bar {
  margin-top: 20px;

  @include flexbox-row-space(1);

  .btn {
    &-active {
      background: #ff9645;
      color: #fff;
    }
  }
}